[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "~=0.100.0"
httpx = "~=0.24.0"
mangum = "~=0.17.0"
pydantic-settings = "~=2.0.0"
pymongo = {version = "~=4.4.0", extras = ["aws", "srv"]}
strawberry-graphql = {version = "~=0.196.0", extras = ["fastapi"]}

[requires]
python_version = "3.11"
