[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
httpx = "*"
mangum = "*"
pymongo = {version = "*", extras = ["aws", "srv"]}
strawberry-graphql = {version = "*", extras = ["fastapi"]}

[requires]
python_version = "3.9"
